ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
}

.category {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: 14.25px;
  letter-spacing: 0.7px;
}

.burger {
  font-size: 30px;
}

.search {
  position: relative;
  bottom: 1.5px;
  font-size: 13px;
}

.nav-left {
  margin: -10px 5px 0 5px;
}

.nav-left > * {
  margin-right: 15px;
}

.nav-mid {
  position: relative;
  left: 45px;
  bottom: 3px;
}

.nav-right {
  position: relative;
  bottom: 9px;
  margin-right: 1.5em;
}

.nav-right button {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 11px;
  background-color: rgb(86, 123, 149);
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

article {
  padding-top: 8em;
}

article h1, article h2, article h4,
article p, article .date-social, .yt-vid {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.alan-pic {
  margin: 1rem auto 3em auto;
  max-width: 1000px;
}

.alan-pic img {
  width: 1000px;
}

.alan-pic figcaption {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: .9375rem;
  color: #666;
  max-width: 900px;
}

h4 {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: 15px;
}

h4 a {
  text-decoration: underline;
  text-decoration-color: #AAA;
}

article .date-social {
  margin: 1.7em auto 2.3em auto;
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
}

.date-social h6 {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 14px;
}

.date-social li {
  display: inline;
  background-color: #eee;
  border: 1px #eee solid;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.fb-logo svg {
  width: 15px;
  position: relative;
  left: 4px;
  top: 2px;
}

.share-logo svg {
  width: 15px;
}

main p {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

main h2 {
  font-weight: 700;
  font-size: 1.35rem;
  margin: 1em auto;
}

.tof {
  width: 945px;
  height: 738px;
  margin: 2em auto 4em auto;
}

.tof-title-text{
  margin: 1em 0 0.3em 0;
  font-size: 1.25rem;
  font-style: normal;
  font-height: 1.5rem;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
}

.tof-about-text {
  max-width: none;
  margin: 0 1em 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem;
  color: #666;
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif
}

.tof img {
  margin-top: 15px;
  height: auto;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 228px);
  grid-template-rows: 274px 274px;
  position: relative;
  bottom: 424px;
  justify-content: space-between;
}

.grid p {
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

.grid p b {
  font-size: 11px;
  font-weight: 900;
}

.tof footer {
  position: relative;
  bottom: 561px;
}

.tof hr {
  max-width: 4em;
  margin: 2.2em 0 1em 0;
}

.summary-author {
  margin-left: 0;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.yt-vid, .teles-pic {
  margin: 2.5em auto;
}

.credit-text {
  color: #888;
  font-size: 14px;
  line-height: 1.125rem;
}

.credit-text b {
  font-weight: 500;
  color: #666;
  font-size: 16px;
  margin-right: 2.5em;
}

.teles-pic {
  max-width: 720px;
}

.teles-pic img {
  width: 720px;
}

.after-article {
  width: 1200px;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.after-left {
  flex: 3 2 auto;
}

.after-right {
  margin: 0 0 0 2em;
}

.top-line {
  border-top: 1px solid black;
  margin-top: 1.5em;
}

h3 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 17px 0;
}

.ext-container {
  display: grid;
  grid-template-columns: repeat(3, 272px);
  grid-auto-rows: 2;
  column-gap: 10px;
}

.ext-container img {
  height: auto;
  width: 100%;
}

.ext-container .credit-text {
  text-align: right;
  font-size: 12px;
}

.ext-title {
  font-weight: 500;
  font-size: 19px;
  margin: 2px 0 -3px 0;
}

.ext-article p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: rgb(153, 153, 153);
  font-size: 0.75rem
}

.after-right li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.after-right a {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
